<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="../../public/css/style.css">
      <script src="https://kit.fontawesome.com/44c011479b.js" crossorigin="anonymous"></script>
</head>

    <header>
        <h1>Tech Blog</h1>
        <nav class="navbar">
            {{if loggedIn}}
            <a href="/dashboard" class="dashboard-link">Dashboard</a>
            <button id="logout">Logout</button>
            {{else}}
            <button id="login">Login</button>
            {{/if}}
        </nav>
    </header>

<body>
    <main>
        {{{body}}}
    </main>
    
    
</body>
</html>