<article class="dashboard-wrapper">
<h2><a href="/dashboard">Dashboard</a></h2>
{{#posts}}
<section>

    <h2>Your Posts:</h2>
    <ul>
        {{#each posts as post}}
    </ul>
</section>

</article>